
@charset "UTF-8";

body{text-align: center;
    background-color: #fffeee
}

h1{
   text-align: center;
    color: #0bd;
}
h2{
   text-align: center;
    
}
h3{
   text-align: center;
    
}
form{
    
}
